@using MyFinance.Application.Dto;
@model EditPlanoContaViewModel

<h2>Editar Plano Conta</h2>

<form asp-controller="PlanoConta" asp-action="Edit" method="post" class="p-5">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3 row">
        <label for="Descricao" class="col-sm-2 col-form-label">Descrição:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="Descricao" asp-for="Descricao" />
        </div>
    </div>

    <div class="mb-3 row">
        <label for="Tipo" class="col-sm-2 col-form-label">Tipo:</label>
        <div class="col-sm-10">
            <select class="form-select" id="Tipo" asp-for="Tipo">
                <option value="Debito">Débito</option>
                <option value="Credito">Crédito</option>
            </select>
        </div>
    </div>

    <div class="mb-3 row">
        <div class="col-sm-10 offset-sm-2">
            <input type="submit" value="Salvar" class="btn btn-primary" />
        </div>
    </div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
